{% extends 'base.html' %}

{% block content %}
<div class="content">
<h1>PRODUTOS</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form id="searchform" action="{% url 'vendas:produtos' %}" method="get" accept-charset="utf-8">
    <button class="searchbutton" type="submit">
      Buscar
    </button>
    <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Search">
  </form>
<table>
    <tr><th>Média</th><th>Total</th></tr>
    <tr><td>{{ media.unidades__avg|floatformat }}</td><td>R$ {{ total.total_venda__sum }}</td></tr>
</table>
<table>
<tr>
    <th>Empresa</th>
    <th>Produto</th>
    <th>Categoria</th>
    <th>Unidades vendidas no mês</th>
    <th>Preço de custo</th>
    <th>Total de venda</th>
</tr>

{% for produto in produtos %}
    <tr><td>{% for empresa in produto.empresas.all %} {{ empresa }} {% endfor %}</td><td> {{ produto.produto_nome }} </td><td> {{ produto.categorias }} </td><td> {{ produto.unidades }} </td><td> R$ {{ produto.preco_custo }} </td><td> R$ {{ produto.total_venda }}</td></tr>
{% endfor %}
</table>
</div>
{% endblock %}